{% extends "base.html" %}
{% block title %}MeetBook Homepage{% endblock %}
{% block content %}
  <div>
    <div class="post">
      <label for="textarea">Write your post:</label>
      <textarea id="textarea" maxlength="512" rows="4"></textarea>
      <input type="button" value="Post" onclick="createPost()">
    </div>
    {% for post in posts %}
      <div class="post">
        <article>
          <h3><a href="{{ post.author }}">{{ post.author_username }}</a> wrote on {{ post.date }}:</h3>
          <p>
            {{ post.content }}
          </p>

          {% for comment in post.comments %}
            <article class="comment">
              <p>
                <a href="{{ comment.author }}">{{ comment.author_username }}</a>: {{ comment.content }}
              </p>
            </article>
          {% endfor %}
        </article>
        <div id="{{ post.uuid }}">
          <label>Comment on this: <input class="comment-input" type="text"></label>
          <input type="button" value="Comment">
        </div>
      </div>
    {% else %}
      <p>There are no posts to see!</p>
    {% endfor %}
  </div>

  <script>
  async function createPost() {
      const postContent = document.getElementById('textarea').value;
      if (!postContent) {
          return;
      }

      const json = {
          content: postContent,
      };
      const data = JSON.stringify(json);

      const response = await fetch('/api/posts', {method: 'POST', body: data});

      if (response.status !== 201) {
          location.assign('/login')
      } else {
          location.reload();
      }
  }

  </script>
{% endblock %}
