{% extends "base.html" %}
{% block title %}Login on MeetBook{% endblock %}
{% block content %}
  <div class="forms">
    <h2>Login</h2>
    <label for="username">Login:</label>
    <input id="username" name="username" type="text">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password">
    <button onclick="onLogin()">Login</button>
    <p id="error-message"></p>
  </div>

  <script>
      async function onLogin() {
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;
          if (!username || !password) {
              return;
          }

          const json = {
              username: username,
              password: password,
          };
          const data = JSON.stringify(json);

          const response = await fetch('/api/login', {method: 'POST', body: data});

          if (response.status !== 200) {
              const errorElement = document.getElementById('error-message');

              errorElement.innerText = 'Invalid credentials!';
              await sleep(2000);
              errorElement.innerText = '';
          } else {
              location.assign('/');
          }
      }

      function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
      }
  </script>
{% endblock %}
