{% extends "base.html" %}
{% block title %}Login on MeetBook{% endblock %}
{% block content %}
  <div>
    <h2>Login</h2>
    <label for="username">Login:</label>
    <input id="username" name="username" type="text">
    <label for="password">Hasło:</label>
    <input id="password" name="password" type="password">
    <button onclick="onLogin()">Zaloguj</button>
    <p id="errorMessage"></p>
  </div>

  <script>
      async function onLogin() {
          const json = {
              username: document.getElementById('username').value,
              password: document.getElementById('password').value,
          };
          const data = JSON.stringify(json);

          const response = await fetch('{{ login_endpoint }}', {method: 'POST', body: data});

          if (response.status !== 200) {
              const errorElement = document.getElementById('errorMessage');

              errorElement.innerText = 'Invalid credentials!';
              await sleep(2000);
              errorElement.innerText = '';
          } else {
              const user = await response.json();
              window.location.assign(user.url);
          }
      }

      function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
      }
  </script>
{% endblock %}
