{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
  <div class="forms">
    <h2>Register</h2>
    <label for="username">Login:</label>
    <input id="username" name="username" type="text">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password">
    <label for="password-confirmation">Confirm password:</label>
    <input id="password-confirmation" name="password" type="password">
    <button onclick="onRegister()">Register</button>
    <p id="error-message"></p>
  </div>

  <script>
      async function onRegister() {
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;
          const passwordConfirmation = document.getElementById('password-confirmation').value;
          if (!username || !password || !passwordConfirmation) {
              return;
          }

          const errorElement = document.getElementById('error-message');

          if (password !== passwordConfirmation) {
              errorElement.innerText = "Passwords don't match!";
              await sleep(2000);
              errorElement.innerText = '';
          } else {
              const json = {
                  username: username,
                  password: password,
              };
              const data = JSON.stringify(json);

              const response = await fetch('/api/users', {method: 'POST', body: data});

              if (response.status !== 201) {
                  errorElement.innerText = 'User already exists!';
                  await sleep(2000);
                  errorElement.innerText = '';
              } else {
                  await logoutUser();
                  location.assign('/login');
              }
          }
      }

      function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
      }
  </script>
{% endblock %}
